.element__like {
    cursor: pointer;
    overflow: hidden;
    background: url(../../../images/Like.svg);
    height: 19px;
    width: 22px;
    outline: none;
    border: none;
    padding: 0;
    margin: 30px 30px 0 auto;
}

.element__like:hover {
    opacity: 50%;
    transition: .5s ease;
}

.element__like:active {
    background: url(../../../images/LikeBlack.svg);
    z-index: 3;
}