.header__logo {
    height: 33px;
    width: 142px;
    margin-bottom: 41px;
}

@media screen and (min-width: 320px) and (max-width: 600px) {
    .header__logo {
        width: 103.74px;
        height: 24.4px;
        margin-left: 19px;
        margin-bottom: 31px;
    }
}