.profile__info {
    width: 336px;
    padding: 0;
    margin: 0;
}

@media screen and (min-width: 320px) and (max-width: 900px) {
    .profile__info {
        margin: 0;
        width: 282px;
        padding: 0;
        justify-content: center;
        align-items: center;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
}