.profile__button-edit {
    width: 24px;
    height: 24px;
    border: 1px;
    border-style: solid;
    border-color: #FFFFFF;
    background-image: url(../../../images/EditButton.svg);
    object-fit: contain;
    cursor: pointer;
    background-color: #000000;
    background-position: center;
    margin: 0 0 0 18px;
}

.profile__button-edit:hover {
    opacity: 60%;
    transition: .5s ease;
}


@media screen and (min-width: 320px) and (max-width: 600px) {
    .profile__button-edit {
        width: 18px;
        height: 18px;
        margin: 0 auto 0 10px;
    }
}