.footer {
    margin: 66px auto 60px auto;
    padding: 0;
    font-size: 18px;
    color: #545454;
    max-width: 880px;
    font-family: 'Inter', 'Arial', sans-serif;
}

@media screen and (min-width: 320px) and (max-width: 900px) {
    .footer {
        width: calc(100% - 19px*2);
        margin: 48px auto 36px auto;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
    }
}
