 .popup__container {
   width: 430px;
   background: #FFFFFF;
   box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
   border-radius: 10px;
   display: flex;
   flex-direction: column;
   padding: 0;
   margin: 0;
   position: relative;
   z-index: 2;
 }

 .popup__container-browse {
   display: flex;
   flex-direction: column;
   justify-content: center;
   padding: 0;
   margin: 0;
   position: relative;
   z-index: 2;
 }


 @media screen and (max-width: 320px) {
   .popup__container {
     width: calc(100% - 19px*2);
     display: flex;
     flex-direction: column;
     margin: 0;
   }
 }

 @media screen and (min-width: 321px) and (max-width: 480px) {
   .popup__container {
     width: calc(100% - 19px*2);
     display: flex;
     flex-direction: column;
     margin: 0;
   }
 }