@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);
@import url(../blocks/root/root.css);


@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);


@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__button-add/profile__button-add.css);
@import url(../blocks/profile/__button-edit/button__edit.css);
@import url(../blocks/profile/__name/profile__name.css);
@import url(../blocks/profile/__name-first/profile__name-first.css);
@import url(../blocks/profile/__specialization/profile__specialization.css);


@import url(../blocks/elements/elements.css);
@import url(../blocks/element/element.css);
@import url(../blocks/element/__mask-title/element__mask-title.css);
@import url(../blocks/element/__mask/element__mask.css);
@import url(../blocks/element/__title/element__title.css);
@import url(../blocks/element/__like/element__like.css);
@import url(../blocks/element/__delete/element__delete.css);


@import url(../blocks/footer/footer.css);


@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/_opened/popup_opened.css);
@import url(../blocks/popup/__button-close/popup__button-close.css);
@import url(../blocks/popup/__button-save/popup__button-save.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/__heading/popup__heading.css);
@import url(../blocks/popup/__info/popup__info.css);
@import url(../blocks/popup/__form/popup__form.css);
@import url(../blocks/popup/__overlay/popup__overlay.css);
@import url(../blocks/popup/__img/popup__img.css);
@import url(../blocks/popup/__img-title/popup__img-title.css);