.profile__name-first {
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    padding: 0;
    margin: 0 0 0 30px;
    row-gap: 18px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    max-width: 294px;
}

@media screen and (min-width: 320px) and (max-width: 600px) {
    .profile__name-first {
        max-width: 220px;
        padding: 0;
        font-weight: 500;
        font-size: 27px;
        line-height: 33px;
        margin: 0 0 0 auto;
        padding: 0;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
}

@media screen and (min-width: 601px) and (max-width: 900px) {
    .profile__name-first {
        width: calc(100% - 19px*2);
        padding: 0;
        margin: 0 0 0 14px;
        padding: 0;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
}