.header {
    max-width: 880px;
    padding: 0;
    margin: 45px auto 0 auto;
    border-bottom: 1px;
    border-style: none none solid;
    border-color: #545454;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    .header {
        width: 100%;
        margin: 28px auto 0 auto;
        padding: 0;
    }
}

@media screen and (min-width: 481px) and (max-width: 900px) {
    .header {
        width: calc(100% - 19px*2);
        margin: 28px auto 0 auto;
        padding: 0;
    }
}